In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from optbinning import ContinuousOptimalBinning

from tensorflow import keras
from tensorflow.keras import layers

# from tensorflow_docs.vis import embed
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
import imageio
# import img_tiling # там склеиваются картинки из 4 в 1 квадрат

In [42]:
def get_picture(path, index):
    img = imageio.imread(path+'/'+str(index) + '.png')
    return img

In [2]:
df = pd.read_csv('houses.csv')

In [36]:
df['id'] = df.index

In [47]:
df.head()

,rooms,baths,square,post,price,id,image,img_path
0,4,4.0,4053,85255,869500,0,"[[[159, 122, 96], [166, 132, 105], [166, 139, ...",img/0.png
1,4,3.0,3343,36372,865200,1,"[[[227, 203, 175], [226, 202, 174], [226, 202,...",img/1.png
2,3,4.0,3923,85266,889000,2,"[[[145, 97, 49], [133, 84, 41], [107, 59, 21],...",img/2.png
3,5,5.0,4022,85262,910000,3,"[[[245, 202, 160], [245, 202, 160], [249, 206,...",img/3.png
4,3,4.0,4116,85266,971226,4,"[[[217, 235, 247], [231, 249, 255], [237, 255,...",img/4.png

In [60]:
# df.to_csv('houses_img.csv', index=False)

In [ ]:
df['image'] = df['id'].apply(lambda x: get_picture('img', x+1))

In [48]:
df['img_path'] = df['id'].apply(lambda x: 'img/'+str(x) + '.png')

In [49]:
# split df to train test
X_train, X_valid, y_train, y_valid = train_test_split(df.drop('price', axis=1), df['price'], test_size=0.2, random_state=42)

In [50]:
y_train.head()

284     589900
347     106000
440     639000
421    5858000
149    1795000
Name: price, dtype: int64

In [51]:
y_train.clip(lower=y_train.quantile(0.05), upper=y_train.quantile(0.95))

284     589900.00
347     106000.00
440     639000.00
421    1499649.35
149    1499649.35
          ...
71      196000.00
106     529000.00
270     999000.00
435     479000.00
102     245900.00
Name: price, Length: 428, dtype: float64

In [52]:
variable = "square"
y = X_train[variable].values
x = y_train

In [53]:
optb = ContinuousOptimalBinning(name=variable, dtype="numerical")

In [54]:
optb.fit(x, y)

ContinuousOptimalBinning(name='square')

In [21]:
optb.status

'OPTIMAL'

In [55]:
optb.splits

array([  81900.,  135950.,  182450.,  292400.,  454000.,  541500.,
        690000.,  749450., 1191500.])

In [10]:
binning_table = optb.binning_table
binning_table.build()

,Bin,Count,Count (%),Sum,Std,Mean,Min,Max,Zeros count,WoE,IV
0,"(-inf, 81900.00)",22,0.051402,26356.0,230.360192,1198.000000,960.0,1680.0,0,-1163.922897,59.827812
1,"[81900.00, 135950.00)",40,0.093458,53727.0,190.456936,1343.175000,900.0,1766.0,0,-1018.747897,95.210084
2,"[135950.00, 182450.00)",22,0.051402,31590.0,274.163506,1435.909091,854.0,1930.0,0,-926.013806,47.598841
3,"[182450.00, 292400.00)",35,0.081776,64212.0,644.586117,1834.628571,1005.0,3768.0,0,-527.294326,43.119863
4,"[292400.00, 454000.00)",55,0.128505,105080.0,1222.369916,1910.545455,701.0,9583.0,0,-451.377443,58.004111
5,"[454000.00, 541500.00)",57,0.133178,145239.0,1220.14922,2548.052632,951.0,9536.0,0,186.129734,24.788306
6,"[541500.00, 690000.00)",70,0.163551,185615.0,1091.105233,2651.642857,766.0,7627.0,0,289.719960,47.384106
7,"[690000.00, 749450.00)",24,0.056075,65697.0,967.379183,2737.375000,1056.0,4406.0,0,375.452103,21.053389
8,"[749450.00, 1191500.00)",61,0.142523,170834.0,1080.355763,2800.557377,1084.0,6000.0,0,438.634480,62.515662
9,"[1191500.00, inf)",42,0.098131,162553.0,1193.750083,3870.309524,1560.0,7000.0,0,1508.386627,148.019248
10,Special,0,0.000000,0.0,NaN,0.000000,NaN,NaN,0,-2361.922897,0.000000
11,Missing,0,0.000000,0.0,NaN,0.000000,NaN,NaN,0,-2361.922897,0.000000
Totals,,428,1.000000,1010903.0,,2361.922897,701.0,9583.0,0,11609.525067,607.521421

In [56]:
x_transform_bins = optb.transform(x, metric="bins")

In [57]:
X_train['target'] = x_transform_bins

In [58]:
X_train.head()

,rooms,baths,square,post,id,image,img_path,target
284,5,5.0,3816,92880,284,"[[[225, 223, 210], [214, 212, 199], [206, 204,...",img/284.png,"[541500.00, 690000.00)"
347,2,2.0,1440,92276,347,"[[[93, 67, 44], [92, 66, 43], [92, 66, 43], [9...",img/347.png,"[81900.00, 135950.00)"
440,4,3.0,1625,93510,440,"[[[142, 100, 62], [142, 100, 62], [141, 101, 6...",img/440.png,"[541500.00, 690000.00)"
421,4,3.0,2454,93510,421,"[[[226, 223, 204], [215, 212, 193], [208, 205,...",img/421.png,"[1191500.00, inf)"
149,4,4.5,4038,92677,149,"[[[151, 146, 140], [152, 147, 141], [153, 149,...",img/149.png,"[1191500.00, inf)"

In [33]:
y_train.median()

529000.0

In [15]:
y_train.head()

284     589900
347     106000
440     639000
421    5858000
149    1795000
Name: price, dtype: int64

In [59]:
X_train.head()

,rooms,baths,square,post,id,image,img_path,target
284,5,5.0,3816,92880,284,"[[[225, 223, 210], [214, 212, 199], [206, 204,...",img/284.png,"[541500.00, 690000.00)"
347,2,2.0,1440,92276,347,"[[[93, 67, 44], [92, 66, 43], [92, 66, 43], [9...",img/347.png,"[81900.00, 135950.00)"
440,4,3.0,1625,93510,440,"[[[142, 100, 62], [142, 100, 62], [141, 101, 6...",img/440.png,"[541500.00, 690000.00)"
421,4,3.0,2454,93510,421,"[[[226, 223, 204], [215, 212, 193], [208, 205,...",img/421.png,"[1191500.00, inf)"
149,4,4.5,4038,92677,149,"[[[151, 146, 140], [152, 147, 141], [153, 149,...",img/149.png,"[1191500.00, inf)"

In [8]:
augm_indexes = X_train.index
img_path = 'img'